@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TasaExplorer';
  src:
    local('TasaExplorer'),
    url('./assets/fonts/TASAExplorerVF.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('./assets/fonts/InterVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'GeistMonoVF';
  src:
    local('GeistMonoVF'),
    url('./assets/fonts/GeistMonoVF.woff') format('woff');
}

:root {
  --font-inter: 'Inter', sans-serif;
  --tasa-explorer: 'TasaExplorer', sans-serif;
  --geist-mono: 'GeistMonoVF', monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --top-bar-height: 40px;
    --color-thumb: rgb(64, 64, 64);
    --color-thumb-hover: rgb(96, 96, 96);
    --color-track: transparent;
  }
}

@layer base {
  * {
    @apply border-border1;
  }
  body {
    @apply bg-surface1 text-icon6;
  }
  html {
    scrollbar-color: var(--color-thumb) var(--color-track);
    scrollbar-width: thin;
  }

  *:focus,
  *:focus-visible {
    @apply outline-none;
  }

  *:focus-visible {
    @apply outline outline-accent1;
  }
}

.react-flow__controls-button {
  @apply !text-icon5 !bg-surface2 !border-none;
}

.scorerListItem:has(+ .expanded) {
  border-bottom: none;
}

.scorerListItem.expanded:has(+ .expanded) {
  margin-bottom: 5px;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

div[class^='language-'],
pre[class^='language-'],
code[class^='language-'] {
  font-family: var(--geist-mono) !important;
}

th:has(header) {
  height: var(--top-bar-height) !important;
  padding-block: 0 !important ;
}
