@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TasaExplorer';
  src:
    local('TasaExplorer'),
    url('./assets/fonts/TASAExplorerVF.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('./assets/fonts/InterVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'GeistMonoVF';
  src:
    local('GeistMonoVF'),
    url('./assets/fonts/GeistMonoVF.woff') format('woff');
}

:root {
  --font-inter: 'Inter', sans-serif;
  --tasa-explorer: 'TasaExplorer', sans-serif;
  --geist-mono: 'GeistMonoVF', monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  :root {
    --background: 0 0% 3.92% 1;
    --foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --border: 0 0% 20.4%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --top-bar-height: 40px;
  }
  .dark {
    --background: 0 0% 3.92% 1;
    --foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 0 0% 16.08/50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --border: 0 0% 20.4%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --color-thumb: rgb(64, 64, 64);
    --color-thumb-hover: rgb(96, 96, 96);
    --color-track: transparent;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scrollbar-color: var(--color-thumb) var(--color-track);
    scrollbar-width: thin;
  }

  *:focus,
  *:focus-visible {
    @apply outline-none;
  }

  *:focus-visible {
    @apply outline outline-accent1;
  }
}

.react-flow__controls-button {
  @apply !text-icon5 !bg-surface2 !border-none;
}

.scorerListItem:has(+ .expanded) {
  border-bottom: none;
}

.scorerListItem.expanded:has(+ .expanded) {
  margin-bottom: 5px;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

div[class^='language-'],
pre[class^='language-'],
code[class^='language-'] {
  font-family: var(--geist-mono) !important;
}

th:has(header) {
  height: var(--top-bar-height) !important;
  padding-block: 0 !important ;
}
