@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Better theme support by using Nextra Theme config
https://nextra.site/docs/docs-theme/theme-configuration#theme-color
*/

:root {
  --nextra-navbar-height: 60px;
}

body:is(html[class~="dark"] *),
html:is(html[class~="dark"] *) {
  background: #050505;
}

.nextra-nav-container:is(html[class~="dark"] *) {
  background: #050505;
  border-bottom: 0.5px solid rgb(52, 52, 52);
}

.nextra-nav-container:is(html[class~="light"] *) {
  background: rgb(250, 250, 250);
  border-bottom: 0.5px solid rgb(220, 220, 220);
}

.nextra-nav-container nav {
  position: relative;
}

.nextra-nav-container nav > div:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 0.5rem;
  margin-top: 1px; /* Compensate for the border */
}

.nextra-nav-container nav > a:hover {
  background: transparent !important;
} /* Github button*/

@media (max-width: 1024px) {
  .nextra-nav-container nav > div:nth-child(2) {
    position: relative;
    left: 0;
    transform: translateX(0);
  }
}

.nextra-nav-container-blur {
  display: none;
}

.dark\:_bg-black:is(html[class~="dark"] *) {
  background-color: #050505 !important;
  border-bottom: 0.5px solid rgb(52, 52, 52);
}

nav {
  padding: 0 !important;
}

/*.nextra-nav-container + div {*/
/*  max-width: 80rem;*/
/*}*/

div._transform-gpu > div > ul {
  gap: 0.15rem;
}

ul li a {
  padding-block: 0.175rem !important;
}

ul._inline-block {
  padding-inline-end: 4rem;
}

.nextra-nav-container:is(html[class~="dark"] *) a {
  color: #939393 !important;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  border-radius: 0.375rem;
  font-size: 0.9rem !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.nextra-nav-container:is(html[class~="dark"] *) a:hover {
  color: #fff !important;
  background-color: rgba(41, 41, 41, 0.5);
}

aside.nextra-sidebar-container,
nav.nextra-toc {
  width: 226px;
  padding-inline-end: 0px;
}

article:has(main) {
  width: auto !important;
  justify-content: start !important;
}

main._max-w-6xl {
  max-width: 70ch;
  margin-inline-start: 0;
}

button._transition:not([title="Copy code"]):is(html[class~="dark"] *),
li:is(html[class~="dark"] *) {
  font-weight: 400;
  color: #fff !important;
}

button._transition:not([title="Copy code"]),
a[href="/docs/guide"],
a[href="/docs/guide/08-running-evals"] {
  padding-inline: 0.375rem !important;
  color: #000 !important;
}

a[href="/docs/guide"]:is(html[class~="dark"] *),
a[href="/docs/guide/08-running-evals"]:is(html[class~="dark"] *) {
  color: #fff !important;
  font-weight: 400;
  padding-inline: 0.375rem !important;
}

div._overflow-y-auto {
  padding-inline-start: 0;
}

/* ul._flex {
  padding-inline-start: 0.375rem !important;
  margin-inline-start: 0 !important;
  padding-block-start: 0 !important;
  &::before {
    content: "";
    background: transparent !important;
  }
}

ul._flex > li a {
  padding-inline-start: 0.375rem !important;
} */

ul._flex {
  margin-inline-start: 8px !important;
  padding-inline-start: 0px !important;
}

button._transition
  + div._transform-gpu
  ul
  button:not(:has(.active)):is(html[class~="dark"] *) {
  color: #a3a3a3 !important;
}

button._flex._transition:has(+ div._transform-gpu li.active):is(
    html[class~="dark"] *
  ) {
  color: white !important;
}

._font-semibold {
  font-weight: 500 !important;
}

h2 {
  border-bottom: none !important;
}

p[class*="not(:first-child)"] {
  margin-top: 1rem !important; /* mt-4 equivalent */
}

ul[class*="not(:first-child)"] {
  margin-top: 1rem !important; /* mt-4 equivalent */
}

.nextra-callout p {
  margin-top: 0 !important;
}

tr {
  background: none !important;
  border: none;
}

th {
  border: none !important;
  border-bottom: 0.5px solid hsl(0, 0%, 20%) !important;
  &:is(:not(html[class~="dark"] *)) {
    border-bottom: 0.5px solid hsl(0, 0%, 80%) !important;
  }
}

td {
  border: none !important;
  border-bottom: 0.5px solid hsl(0, 0%, 20%) !important;

  &:is(:not(html[class~="dark"] *)) {
    border-bottom: 0.5px solid hsl(0, 0%, 80%) !important;
  }
}

button[title="Hide sidebar"] {
  display: none;
}

pre > * {
  font-size: 13px !important;
}

div.nextra-scrollbar {
  gap: 4px;
}

nav a {
  padding-block: 8px;
  padding-inline: 16px;
  font-weight: 500 !important;
}

.nextra-nav-container:is(html[class~="dark"] *)
  nav
  a:is([aria-current="true"]) {
  color: white !important;
}

ul[role="listbox"] {
  border-radius: 0.375rem !important;
  box-shadow: none;
}

.gh-link {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 4.66%,
    rgba(255, 255, 255, 0.03) 97.46%
  ) !important;
  margin-right: -13px !important;
}

.nextra-sidebar-footer:is(html[class~="dark"] *) {
  background: #050505 !important;
}

/**
 * 
 * Not the most exciting override but I don't have other solution that tweaking this thing...
 */
._max-w-\[90rem\] {
  max-width: 1184px !important;
  width: 100%;
}

iframe {
  border-radius: 6px !important;
  overflow: hidden;
}

pre {
  border: 0.5px solid #343434 !important;
  background: #171717 !important;
}

.nextra-sidebar-container li a {
  border-left: 2px solid transparent;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-inline-start: 14px;
}

.nextra-sidebar-container ul::before {
  height: calc(100% - 3px);
}

.dark\:_bg-primary-400\/10:is(html[class~="dark"] *) {
  background: transparent;
  color: white;
  border-left: 2px solid white;
}

.dark\:_bg-primary-400\/10:is(html[class~="light"] *) {
  background: transparent;
  color: black;
  border-left: 2px solid black;
}
