/* Geist Mono Regular */
@font-face {
  font-family: "Geist Mono";
  src:
    local("Geist Mono Regular"),
    local("GeistMono-Regular"),
    url("/fonts/GeistMono-Regular.woff2") format("woff2"),
    url("/fonts/GeistMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Geist Mono Medium */
@font-face {
  font-family: "Geist Mono";
  src:
    local("Geist Mono Medium"),
    local("GeistMono-Medium"),
    url("/fonts/GeistMono-Medium.woff2") format("woff2"),
    url("/fonts/GeistMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter Regular */
@font-face {
  font-family: "Inter";
  src:
    local("Inter Regular"),
    local("Inter-Regular"),
    url("/fonts/Inter_28pt-Regular.woff2") format("woff2"),
    url("/fonts/Inter_28pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Medium */
@font-face {
  font-family: "Inter";
  src:
    local("Inter Medium"),
    local("Inter-Medium"),
    url("/fonts/Inter_28pt-Medium.woff2") format("woff2"),
    url("/fonts/Inter_28pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter SemiBold */
@font-face {
  font-family: "Inter";
  src:
    local("Inter SemiBold"),
    local("Inter-SemiBold"),
    url("/fonts/Inter_28pt-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter_28pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Inter Italic */
@font-face {
  font-family: "Inter";
  src:
    local("Inter Italic"),
    local("Inter-Italic"),
    url("/fonts/Inter_28pt-Italic.woff2") format("woff2"),
    url("/fonts/Inter_28pt-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
