.docMainContainer {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0%;
  justify-content: center;
  min-width: 0;
  transition: max-width 0.3s ease-in-out;
}

@media (min-width: 997px) {
  .docMainContainer {
    max-width: calc(
      100% - (var(--doc-sidebar-width) + var(--chatbot-sidebar-width))
    );
  }

  .docMainContainerEnhanced {
    max-width: calc(
      100% - (var(--doc-sidebar-hidden-width) + var(--chatbot-sidebar-width))
    );
  }

  .docMainContainerChatbotHidden {
    max-width: calc(
      100% - (var(--doc-sidebar-width) + var(--chatbot-sidebar-hidden-width))
    );
  }

  .docMainContainerEnhanced.docMainContainerChatbotHidden {
    max-width: calc(
      100% -
        (var(--doc-sidebar-hidden-width) + var(--chatbot-sidebar-hidden-width))
    );
  }

  .docItemWrapperEnhanced {
    max-width: calc(
      var(--ifm-container-width) + var(--doc-sidebar-width)
    ) !important;
  }

  .docItemWrapperChatbotHidden {
    max-width: calc(
      var(--ifm-container-width) + var(--chatbot-sidebar-hidden-width)
    ) !important;
  }

  .docItemWrapperEnhanced.docItemWrapperChatbotHidden {
    max-width: calc(
      var(--ifm-container-width) + var(--doc-sidebar-width) +
        var(--chatbot-sidebar-hidden-width)
    ) !important;
  }
}
