.mastra-theme {
  --mastra-background: var(--background-2);
  --mastra-sidebar: var(--background-1);
  --mastra-card: var(--background-3);
  --mastra-popover: var(--background-3);
  --mastra-muted: var(--gray-1);
  --mastra-foreground: var(--gray-10);
  --mastra-muted-foreground: var(--gray-9);
  --mastra-border: var(--gray-alpha-2);
  --mastra-ring: var(--gray-8);
  --mastra-sidebar-accent: var(--gray-alpha-1);
  --mastra-selected: var(--gray-alpha-2);
}

html.light .mastra-theme {
  --mastra-border: var(--gray-alpha-3);
}

@theme inline {
  --color-mastra-background: var(--mastra-background);
  --color-mastra-sidebar: var(--mastra-sidebar);
  --color-mastra-card: var(--mastra-card);
  --color-mastra-popover: var(--mastra-popover);
  --color-mastra-muted: var(--mastra-muted);
  --color-mastra-foreground: var(--mastra-foreground);
  --color-mastra-muted-foreground: var(--mastra-muted-foreground);
  --color-mastra-border: var(--mastra-border);
  --color-mastra-ring: var(--mastra-ring);
  --color-mastra-sidebar-accent: var(--mastra-sidebar-accent);
  --color-mastra-selected: var(--mastra-selected);
}

.sidebar-new-theme {
  --neutral3: var(--mastra-muted-foreground);
  --neutral5: var(--mastra-foreground);
  --neutral6: var(--mastra-foreground);
  --sidebar-nav-active: var(--mastra-selected);
  --sidebar-nav-hover: var(--mastra-sidebar-accent);
}
