@theme {
  --text-display: 1.375rem;
  --text-display--line-height: 127%;
  --text-display--font-weight: 500;
  --text-display--letter-spacing: -0.01em;

  --text-title: 1.125rem;
  --text-title--line-height: 133%;
  --text-title--font-weight: 500;

  --text-heading: 1rem;
  --text-heading--line-height: 150%;
  --text-heading--font-weight: 500;

  --text-subheading: 0.875rem;
  --text-subheading--line-height: 143%;
  --text-subheading--font-weight: 500;

  --text-body: 0.875rem;
  --text-body--line-height: 143%;
  --text-body--font-weight: 400;

  --text-label: 0.8125rem;
  --text-label--line-height: 150%;
  --text-label--font-weight: 500;

  --text-card-title: 0.8125rem;
  --text-card-title--line-height: 150%;
  --text-card-title--font-weight: 550;
  --text-card-title--letter-spacing: 0em;

  --text-card-title-tight: var(--text-card-title);
  --text-card-title-tight--line-height: var(--text-card-title--line-height);
  --text-card-title-tight--font-weight: var(--text-card-title--font-weight);
  --text-card-title-tight--letter-spacing: -0.025rem;

  --text-card-title-strong: var(--text-card-title);
  --text-card-title-strong--line-height: var(--text-card-title--line-height);
  --text-card-title-strong--font-weight: 600;
  --text-card-title-strong--letter-spacing: var(--text-card-title--letter-spacing);

  --text-body-sm: 0.8125rem;
  --text-body-sm--line-height: 150%;
  --text-body-sm--font-weight: 400;

  --text-column: 0.75rem;
  --text-column--line-height: 150%;
  --text-column--font-weight: 500;

  --text-caption: 0.75rem;
  --text-caption--line-height: 150%;
  --text-caption--font-weight: 400;

  --text-meta: 0.625rem;
  --text-meta--line-height: 160%;
  --text-meta--font-weight: 500;
  --text-meta--letter-spacing: 0.02em;

  --font-display:
    system-ui, ui-sans-serif, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-body:
    system-ui, ui-sans-serif, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;

  --font-sans: var(--font-body);
  --font-serif: initial;
}
