@import '../src/index.css';
@tailwind base;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --tasa-explorer: 'TasaExplorer', sans-serif;
  --geist-mono: 'GeistMonoVF', monospace;

  --background: 0 0% 3.92% 1;
  --foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --border: 0 0% 20.4%;
  --input: 240 5.9% 90%;
  --ring: 240 10% 3.9%;
  --radius: 0.5rem;
  --top-bar-height: 40px;
}

.dark,
:root {
  --background: 0 0% 3.92% 1;
  --foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 0 0% 16.08/50%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --border: 0 0% 20.4%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;

  --color-thumb: rgb(64, 64, 64);
  --color-thumb-hover: rgb(96, 96, 96);
  --color-track: transparent;
}
