{
	"endOfLine": "lf",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"printWidth": 120,
	"arrowParens": "avoid",
	"plugins": ["@mastra/lint-docs/prettier-mdx"],
	"overrides": [
		{
			"files": ["*.mdx"],
			"options": {
				"parser": "mdx-custom"
			}
		}
	]
}
