version: '3.8'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    platform: linux/amd64
    ports:
      - '9200:9200'
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'curl -s http://localhost:9200/_cluster/health || exit 1']
      interval: 10s
      timeout: 5s
      retries: 30

volumes:
  elasticsearch_data:
    driver: local
