name: Prerelease

permissions:
  contents: write
  pull-requests: write
  id-token: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 0.x

jobs:
  release:
    if: "${{ github.repository == 'mastra-ai/mastra' && (github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && startsWith(github.event.head_commit.message, 'chore: version packages') && github.event.head_commit.author.username == 'dane-ai-mastra[bot]')) }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          # Fetch entire git history so  Changesets can generate changelogs
          # with the correct commits
          fetch-depth: 0

      - name: Setup pnpm and Node.js
        uses: ./.github/actions/setup-pnpm-node

      - name: Setup npm auth
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc

      - name: Run build
        run: pnpm build

      - name: Determine publish tag
        id: determine-tag
        run: |
          BRANCH_NAME="${{ github.ref_name }}"
          if [[ "$BRANCH_NAME" == "main" ]]; then
            echo "tag=beta" >> $GITHUB_OUTPUT
          elif [[ "$BRANCH_NAME" == "0.x" ]]; then
            echo "tag=alpha" >> $GITHUB_OUTPUT
          else
            echo "tag=alpha" >> $GITHUB_OUTPUT
          fi

      - name: Publish packages
        run: pnpm publish -r --tag ${{ steps.determine-tag.outputs.tag }} --access public
        env:
          NPM_CONFIG_PROVENANCE: true
