name: Prerelease

permissions:
  contents: write
  pull-requests: write
  id-token: write

on:
  workflow_dispatch:

jobs:
  release:
    if: ${{ github.repository == 'mastra-ai/mastra' && (contains(github.head_ref || github.ref_name, 'changeset-release') || github.event_name == 'workflow_dispatch') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          # Fetch entire git history so  Changesets can generate changelogs
          # with the correct commits
          fetch-depth: 0

      - name: Setup pnpm and Node.js
        uses: ./.github/actions/setup-pnpm-node

      - name: Setup npm auth
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc

      - name: Run build
        run: pnpm build

      - name: Publish packages
        run: pnpm publish -r --tag alpha --access public --publish-branch 0.x
        env:
          NPM_CONFIG_PROVENANCE: true
